# Order Brushing Detection

## Part of Shopee Code League Challenge (Day 1)

Well, shopee finally conducted its code league event first time online due to the corona virus. This decision will only bring them any good since the antusiasm of the participants from 5 countries in Asean dramatically increased. Probably because it becomes much easier for participants to join the competion from the comfort of their own houses. I also took part as one of the participants along with my colleague.

The event itself is not absent / is not empty from several technical difficulties. At first, due to the high rate if participants that clicked on the kaggle link at the same time, the site was immediately crashed. Fortunately, the problems could be resolved later despite a considerable amount of delay that was experienced by participants. But, from what I saw, it did not shrink the spirit of all participants.

This is the first time I experienced this kind of challenge. I found this kind of problem good for practice because It really examine / challenge our ability to think computationally / logically combined with our data understanding and our comprehension of the task itself. We have to first, what I found to be the most important part, understand the task and know how the output should look like, because it will affect our score at the end. Perhaps, for someone that do loop gymnastic on day to day basis, this kind of problem is so easy to comprehend amd answer. But for those with zero experience in advanced looping, and always rely on tools and package in python to solve the frequent data problem, it will be such an interesting challenge. 

The challenge is called order brushing. Basically, it asks us to detect abnormal user behaviour from their e-commerce platform. For instance, if one seller is categorized as best seller, but after thorough examination from the record, we find that the orders came from one user repeatedly, we have evidence to suspect that that particular shop conduct order brushing practice. What makes this practice a bad practice is because the order that is conducted or made by that same user is not a real order, but it is a fake one to level up / increase the rating of the shop. For this practice, usually every e-commerce must be aware of it and make some system such as flagging, as what shopee team did currently. 

For the task, I will quote exactly with what is written in competion's Kaggle page:

1. Identify all shops that are deemed to have conducted order brushing.
2. For each shop that is identified to have conducted order brushing, identify the buyers suspected to have conducted order brushing for that shop.

For the purpose of this question, shops are deemed to have conducted order brushing if their concentrate rate is greater than or equal to 3 at any instance

Concentrate rate = 
Number of Orders within 1 hour / Number of Unique Buyers within 1 hour
For the purpose of this question, suspicious buyers are deemed as the buyer that contributed the highest proportion of orders to a shop that is deemed to have conducted order brushing.

For calculation of the highest proportion of orders to a shop, only include the orders that occured in instances when order brushing has been deemed to have taken place.

In the case where multiple users share the same highest proportion of orders for a specific shop, all those users are deemed to be suspicious buyers.

So, let's try to tackle this challenge as much as we can do!

Firstly, we only need two packages, Pandas and NumPy, to deal with this problem. Pandas and NumPy are more than enough to help us with looping and solving list problem.

In [2]:
import pandas as pd
import numpy as np

Fortunately, the data is already in csv format, so we don't have to do scrapping and crawling from the web. We read this data directly and import it to the notebook.

In [89]:
order_brush = pd.read_csv("order_brush_order.csv")

Let's see first ten rows of our table.

In [4]:
order_brush.head(10)

          orderid     shopid     userid           event_time
0  31076582227611   93950878   30530270  2019-12-27 00:23:03
1  31118059853484  156423439   46057927  2019-12-27 11:54:20
2  31123355095755  173699291   67341739  2019-12-27 13:22:35
3  31122059872723   63674025  149380322  2019-12-27 13:01:00
4  31117075665123  127249066  149493217  2019-12-27 11:37:55
5  31119725718155  173811070  116451780  2019-12-27 12:22:05
6  31151322178251  107921853  166741763  2019-12-27 21:08:43
7  31079856153738  178400128   61272835  2019-12-27 01:17:37
8  31118426867571  147941492   10986763  2019-12-27 12:00:27
9  31133458226149  164933170  135957741  2019-12-27 16:10:59

So, we have in our hand four important columns that we should determine to understand which orders that are suspicious for order brushing practice. 

In order to know the data type and condition of the table, whether it consist of missing data or not, we can use this method below.

In [133]:
order_brush.isnull().sum()

orderid       0
shopid        0
userid        0
event_time    0
dtype: int64

The data is really clean, no missing data found, so we will keep it as it is without cleaning and manipulating.

In [134]:
order_brush.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222750 entries, 0 to 222749
Data columns (total 4 columns):
orderid       222750 non-null int64
shopid        222750 non-null int64
userid        222750 non-null int64
event_time    222750 non-null object
dtypes: int64(3), object(1)
memory usage: 6.8+ MB

All columns is in correct data type unless event_time column that suppose to be a datetime, but we will deal with it later.

It will be useful if we know how much the number of order and number of seller recorded in this table as shown below.

In [91]:
num_order = order_brush.shape[0]
num_seller = len(order_brush['shopid'].unique())

print(num_order)
print(num_seller)

222750
18770

This is the part where we start to tackle the challenge. This challenge require us to count the number of orderid and userid of each shop in this record, but it will be difficult if we use the original table, even thought we already group it by shopid. In this regard, we will be utilizing the list function / list data structure to store all orderid and userid that belongs to particular shop. In this way, it would be easier for us to count and play with the data that is already stored in list. 

To implement this, first, we group the original table by shopid, since we want to examine each shop individually. To store all orderid that belongs to shopid in the list, we apply function list to orderid column and convert it to dataframe as shown below. We assign this new table to variable named ls_order.

In [92]:
ls_order = order_brush.groupby('shopid')['orderid'].apply(list).to_frame()

We also store userid in the new list by applying list function to userid column in original table and convert it to dataframe. New column is created to store this listed userid in the new table that we created previously.

In [93]:
ls_order['userid'] = order_brush.groupby('shopid')['userid'].apply(list).to_frame()

We also create new column called event_time inside ls_order table by applying list function to event_time from original table and convert it to dataframe.

In [95]:
ls_order['event_time'] = order_brush.groupby('shopid')['event_time'].apply(list).to_frame()

Let's check our new table that consists four column with listed values.

In [96]:
ls_order

,orderid,userid,event_time
shopid,,,
10009,[31086409141107],[196962305],[2019-12-27 03:06:50]
10051,"[31254979546679, 31144571933461]","[48600461, 2854032]","[2019-12-29 01:56:19, 2019-12-27 19:16:11]"
10061,"[31431527100615, 31205132327893, 3119567591920...","[62464559, 194819216, 168750452, 130633421]","[2019-12-31 02:58:48, 2019-12-28 12:05:32, 201..."
10084,"[31446282541417, 31377753982301, 3126554273178...","[123715078, 184840040, 6488128, 73993513, 3328...","[2019-12-31 07:04:42, 2019-12-30 12:02:33, 201..."
10100,"[31219662667629, 31415528979818, 3147112150853...","[495431, 30534780, 136619968, 198765759, 13146...","[2019-12-28 16:07:42, 2019-12-30 22:32:08, 201..."
...,...,...,...
214662358,[31420157746353],[194332514],[2019-12-30 23:49:17]
214949521,"[31493203163305, 31491997643888]","[46269178, 46269178]","[2019-12-31 20:06:43, 2019-12-31 19:46:37]"
214964814,[31328775676314],[200983383],[2019-12-29 22:26:16]
215175775,"[31472077221692, 31453591917585]","[129266028, 13688804]","[2019-12-31 14:14:37, 2019-12-31 09:06:31]"
215435223,[31487696848532],[79515106],[2019-12-31 18:34:56]

To know the number of order from each shop, we then count the number of values that is stored in orderid column. Since we have stored all the values in one list, it will be much easier for us to count them. We use len() method to know how many values stored in a list. With the power of map and lambda we apply len() function to all rows recorded in this table. We store the number of orders in new column called num_order.

In [97]:
ls_order["num_order"] = list(map(lambda x: len(x), ls_order.orderid))

Now, we got the number of orders that is stored in new column.

In [98]:
ls_order

,orderid,userid,event_time,num_order
shopid,,,,
10009,[31086409141107],[196962305],[2019-12-27 03:06:50],1
10051,"[31254979546679, 31144571933461]","[48600461, 2854032]","[2019-12-29 01:56:19, 2019-12-27 19:16:11]",2
10061,"[31431527100615, 31205132327893, 3119567591920...","[62464559, 194819216, 168750452, 130633421]","[2019-12-31 02:58:48, 2019-12-28 12:05:32, 201...",4
10084,"[31446282541417, 31377753982301, 3126554273178...","[123715078, 184840040, 6488128, 73993513, 3328...","[2019-12-31 07:04:42, 2019-12-30 12:02:33, 201...",55
10100,"[31219662667629, 31415528979818, 3147112150853...","[495431, 30534780, 136619968, 198765759, 13146...","[2019-12-28 16:07:42, 2019-12-30 22:32:08, 201...",42
...,...,...,...,...
214662358,[31420157746353],[194332514],[2019-12-30 23:49:17],1
214949521,"[31493203163305, 31491997643888]","[46269178, 46269178]","[2019-12-31 20:06:43, 2019-12-31 19:46:37]",2
214964814,[31328775676314],[200983383],[2019-12-29 22:26:16],1
215175775,"[31472077221692, 31453591917585]","[129266028, 13688804]","[2019-12-31 14:14:37, 2019-12-31 09:06:31]",2
215435223,[31487696848532],[79515106],[2019-12-31 18:34:56],1

After we know number of order of each shop, in order to detect order brushing, we must also know which buyers make an order repeatedly out of those number of order. Hence, we should know first from those number of order, how much actually the number of buyer that is existed. Does each order belong to one buyer or each order belong to many buyer, which could be an evidence for order brushing. With that in mind, we have to know the unique value from orderid by using nunique() function, and store it in new column called num_unique_buyer.

In [99]:
ls_order['num_unique_buyer'] = order_brush.groupby('shopid')['userid'].nunique()

In [100]:
ls_order

,orderid,userid,event_time,num_order,num_unique_buyer
shopid,,,,,
10009,[31086409141107],[196962305],[2019-12-27 03:06:50],1,1
10051,"[31254979546679, 31144571933461]","[48600461, 2854032]","[2019-12-29 01:56:19, 2019-12-27 19:16:11]",2,2
10061,"[31431527100615, 31205132327893, 3119567591920...","[62464559, 194819216, 168750452, 130633421]","[2019-12-31 02:58:48, 2019-12-28 12:05:32, 201...",4,4
10084,"[31446282541417, 31377753982301, 3126554273178...","[123715078, 184840040, 6488128, 73993513, 3328...","[2019-12-31 07:04:42, 2019-12-30 12:02:33, 201...",55,54
10100,"[31219662667629, 31415528979818, 3147112150853...","[495431, 30534780, 136619968, 198765759, 13146...","[2019-12-28 16:07:42, 2019-12-30 22:32:08, 201...",42,39
...,...,...,...,...,...
214662358,[31420157746353],[194332514],[2019-12-30 23:49:17],1,1
214949521,"[31493203163305, 31491997643888]","[46269178, 46269178]","[2019-12-31 20:06:43, 2019-12-31 19:46:37]",2,1
214964814,[31328775676314],[200983383],[2019-12-29 22:26:16],1,1
215175775,"[31472077221692, 31453591917585]","[129266028, 13688804]","[2019-12-31 14:14:37, 2019-12-31 09:06:31]",2,2
215435223,[31487696848532],[79515106],[2019-12-31 18:34:56],1,1

Great! we now get the number of unique buyer from each of shopid. We could filter the table based on this value since order brushing only happen when number of unique buyer is more or equal than 2. We filter them to exclude all of the shopid that has same number both from orderid and number of unique buyer.

In [101]:
# Order brushing might happens if the number of orders per shop minus number of unique buyers per shop is larger or equal to 2.

ls_order = ls_order[ls_order['num_order']-ls_order['num_unique_buyer'] >= 2]

We check the current condition of our table. After that filtering, we only got approximately 10% of original table that fulfill/meet the condition of order brushing. That is a major exclusion/filtering. Apparently, the number of shop who conduct this bad order brushing practice is only a small amount of all shop that is recorded in this table, however, no matter how small it is, it still has to be treated seriously.

We will be working with this new table from now on.

In [102]:
ls_order

,orderid,userid,event_time,num_order,num_unique_buyer
shopid,,,,,
10100,"[31219662667629, 31415528979818, 3147112150853...","[495431, 30534780, 136619968, 198765759, 13146...","[2019-12-28 16:07:42, 2019-12-30 22:32:08, 201...",42,39
10151,"[31414025664718, 31255231246682, 3112887694712...","[214925713, 43528657, 36268816, 21575761, 8614...","[2019-12-30 22:07:05, 2019-12-29 02:00:32, 201...",193,188
10159,"[31425048460235, 31458346123017, 3133134606985...","[24869430, 802231, 136820136, 125911190, 10581...","[2019-12-31 01:10:48, 2019-12-31 10:25:47, 201...",99,91
10208,"[31117173986024, 31320198136784, 3137988177059...","[86369812, 91720728, 78503053, 211633164, 7991...","[2019-12-27 11:39:33, 2019-12-29 20:03:18, 201...",182,169
10214,"[31293579591969, 31294622928885, 3112234450768...","[89600015, 112947907, 160166910, 122964607, 21...","[2019-12-29 12:39:39, 2019-12-29 12:57:02, 201...",73,69
...,...,...,...,...,...
211245313,"[31477256052036, 31228328416550, 3133618963726...","[26716334, 63112942, 2048831, 16871221, 428273...","[2019-12-31 15:40:57, 2019-12-28 18:32:08, 201...",52,45
211892380,"[31089143023034, 31242108028092, 3141262897924...","[214237579, 10178183, 40838578, 162920162, 817...","[2019-12-27 03:52:24, 2019-12-28 22:21:48, 201...",13,11
212089630,"[31451185029030, 31454849817709, 31450924483632]","[105664365, 105664365, 105664365]","[2019-12-31 08:26:26, 2019-12-31 09:27:30, 201...",3,1
213141071,"[31081343380652, 31079802560868, 31080726584115]","[213646699, 213646699, 213646699]","[2019-12-27 01:42:23, 2019-12-27 01:16:42, 201...",3,1
214432425,"[31506394434087, 31506349293329, 3146841407536...","[52594422, 52594422, 1134243, 1134243]","[2019-12-31 23:46:35, 2019-12-31 23:45:49, 201...",4,2

Now, we come to the part where it becomes more challenging and fun obviously. We have to create custom function in order to extract the suspicious buyer from userid that has been filtered previously. The name of the function is defined as pick with alist as an input. Firstly, we create empty list named a to store the result in it. Then, we create for loop to the alist column, which in this regard will be userid, with condition if the number of values in userid list is more or equal than 3, store those values (userid) in empty list a. After looping has been done, if empty list a still got no values, return zero as a result. If there are some values in variable a, then return those list after sorting them.

In [103]:
# identify suspicious buyer using custom function

def pick(alist):
    a = []
    # for values in the row in column/alist, in this regard it will be used for "userid"
    for i in alist:
        # if the number of values in list in "userid" column greater / equal than 3
        if alist.count(i) >= 3:
            # store user id in empty list a
            a.append(i)
    # if there is no values in list a after looping, return 0 as a result
    if a == []:
        return 0
    else:
        # otherwise, return list packed with values that has been sorted before
        return sorted(list(set(a)))

C:\Users\Faris\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

The function above is applied toward the userid column and store the result of these function in new column called suspicious_buyer.

In [ ]:
ls_order['suspicious_buyer'] = list(map(pick, ls_order['userid']))

We got the orderid which becomes candidate for order brushing practice in the form of list. Let's see how our table looks like now.

In [104]:
ls_order

,orderid,userid,event_time,num_order,num_unique_buyer,suspicious_buyer
shopid,,,,,,
10100,"[31219662667629, 31415528979818, 3147112150853...","[495431, 30534780, 136619968, 198765759, 13146...","[2019-12-28 16:07:42, 2019-12-30 22:32:08, 201...",42,39,0
10151,"[31414025664718, 31255231246682, 3112887694712...","[214925713, 43528657, 36268816, 21575761, 8614...","[2019-12-30 22:07:05, 2019-12-29 02:00:32, 201...",193,188,0
10159,"[31425048460235, 31458346123017, 3133134606985...","[24869430, 802231, 136820136, 125911190, 10581...","[2019-12-31 01:10:48, 2019-12-31 10:25:47, 201...",99,91,"[62775725, 214988798]"
10208,"[31117173986024, 31320198136784, 3137988177059...","[86369812, 91720728, 78503053, 211633164, 7991...","[2019-12-27 11:39:33, 2019-12-29 20:03:18, 201...",182,169,[11288307]
10214,"[31293579591969, 31294622928885, 3112234450768...","[89600015, 112947907, 160166910, 122964607, 21...","[2019-12-29 12:39:39, 2019-12-29 12:57:02, 201...",73,69,0
...,...,...,...,...,...,...
211245313,"[31477256052036, 31228328416550, 3133618963726...","[26716334, 63112942, 2048831, 16871221, 428273...","[2019-12-31 15:40:57, 2019-12-28 18:32:08, 201...",52,45,[46875705]
211892380,"[31089143023034, 31242108028092, 3141262897924...","[214237579, 10178183, 40838578, 162920162, 817...","[2019-12-27 03:52:24, 2019-12-28 22:21:48, 201...",13,11,0
212089630,"[31451185029030, 31454849817709, 31450924483632]","[105664365, 105664365, 105664365]","[2019-12-31 08:26:26, 2019-12-31 09:27:30, 201...",3,1,[105664365]
213141071,"[31081343380652, 31079802560868, 31080726584115]","[213646699, 213646699, 213646699]","[2019-12-27 01:42:23, 2019-12-27 01:16:42, 201...",3,1,[213646699]
214432425,"[31506394434087, 31506349293329, 3146841407536...","[52594422, 52594422, 1134243, 1134243]","[2019-12-31 23:46:35, 2019-12-31 23:45:49, 201...",4,2,0

Since we also include zero as one of the result in suspicious_buyer, we will filter out / exclude those zero so that we know how much is the shopid that is on target for order brushing practice. We create new variable called susp_order to store this new table.

In [105]:
# identify suspicious order brushing

susp_order = ls_order[ls_order['suspicious_buyer'] != 0]

If we look at the table below, there is nearly 50% that have been filtered out from previous table. Now, we only got 828 rows that is suspicious. The number of shopid shrinks as we go through this step to find the shops that are responsible for order brushing practice.

In [106]:
susp_order

,orderid,userid,event_time,num_order,num_unique_buyer,suspicious_buyer
shopid,,,,,,
10159,"[31425048460235, 31458346123017, 3133134606985...","[24869430, 802231, 136820136, 125911190, 10581...","[2019-12-31 01:10:48, 2019-12-31 10:25:47, 201...",99,91,"[62775725, 214988798]"
10208,"[31117173986024, 31320198136784, 3137988177059...","[86369812, 91720728, 78503053, 211633164, 7991...","[2019-12-27 11:39:33, 2019-12-29 20:03:18, 201...",182,169,[11288307]
10287,"[31199080184075, 31160740703944, 3109326538833...","[495270, 875954, 101436986, 198097381, 1545368...","[2019-12-28 10:24:41, 2019-12-27 23:45:40, 201...",211,190,"[74488711, 103289694, 198097381, 214226569]"
10402,"[31471217004140, 31075350383695, 3146785379529...","[215413147, 185138818, 65216466, 77819, 203648...","[2019-12-31 14:00:17, 2019-12-27 00:02:30, 201...",13,11,[77819]
10536,"[31193005938624, 31115953007150, 3113916044439...","[153387696, 672345, 672345, 672345, 672345, 67...","[2019-12-28 08:43:25, 2019-12-27 11:19:13, 201...",13,5,[672345]
...,...,...,...,...,...,...
209326384,"[31491123051077, 31483532950205, 3133251414481...","[7794832, 7794832, 88887227, 7794832]","[2019-12-31 19:32:04, 2019-12-31 17:25:32, 201...",4,2,[7794832]
210197928,"[31103266871471, 31103396827994, 3110333467196...","[52867898, 52867898, 52867898, 52867898]","[2019-12-27 07:47:47, 2019-12-27 07:49:56, 201...",4,1,[52867898]
211245313,"[31477256052036, 31228328416550, 3133618963726...","[26716334, 63112942, 2048831, 16871221, 428273...","[2019-12-31 15:40:57, 2019-12-28 18:32:08, 201...",52,45,[46875705]
212089630,"[31451185029030, 31454849817709, 31450924483632]","[105664365, 105664365, 105664365]","[2019-12-31 08:26:26, 2019-12-31 09:27:30, 201...",3,1,[105664365]
213141071,"[31081343380652, 31079802560868, 31080726584115]","[213646699, 213646699, 213646699]","[2019-12-27 01:42:23, 2019-12-27 01:16:42, 201...",3,1,[213646699]

We now create dictionary with index of ls_order table which is shopid as a key and listed suspicious_buyer as a values. This table still contains zero value in suspicious_buyer column.

In [107]:
dict_shop_user = dict(zip(ls_order.index, ls_order.suspicious_buyer))

In [108]:
#dict_shop_user

In [137]:
dict_shop_user

{10100: 0,
 10151: 0,
 10159: [62775725, 214988798],
 10208: [11288307],
 10214: 0,
 10287: [74488711, 103289694, 198097381, 214226569],
 10311: 0,
 10402: [77819],
 10429: 0,
 10484: 0,
 10536: [672345],
 10563: [163062835],
 12568: 0,
 13511: 0,
 16107: 0,
 26133: [32449911],
 29583: [29696494, 214495220, 215275495],
 42472: [740844],
 42818: [170385453],
 45096: [68680945],
 56418: 0,
 76934: [124597967, 190449497],
 80108: 0,
 94090: [22525413],
 94636: 0,
 140266: 0,
 150722: 0,
 183068: [2973390, 107641182, 181459643],
 192924: 0,
 195531: [214992524],
 226382: 0,
 240309: [27567],
 257944: 0,
 299742: [2973390, 131375087, 144780413],
 316121: 0,
 406582: [212200633],
 425364: [72914921],
 599533: [264511],
 605561: [166678691, 181682008],
 639650: 0,
 640697: 0,
 641249: 0,
 720918: 0,
 722132: [7670129],
 731606: [75558350],
 736620: [62618064],
 739014: [99030602, 105840033],
 760726: 0,
 769445: [641121, 29299481, 141006168],
 798888: 0,
 801940: [565381, 106797270],
 803386: 0,
 823357: [188942105],
 883177: 0,
 937861: 0,
 939904: 0,
 947868: 0,
 950097: [125058891, 136907298],
 998058: [204887023],
 1011192: 0,
 1041321: [58438334],
 1134916: 0,
 1175477: [122277324],
 1216922: 0,
 1224830: 0,
 1268545: [71160670],
 1335777: 0,
 1532569: [181408876],
 1748316: 0,
 1770728: 0,
 1791624: 0,
 1806841: 0,
 2015845: 0,
 2153811: [10111995],
 2445250: [91868771],
 2529469: 0,
 2601733: 0,
 2626302: 0,
 2730790: [3538134, 46003504, 57914076],
 2801370: [84800616],
 2831130: [15053804, 200657224],
 2856708: [78451300, 123959597],
 2859407: 0,
 2951855: 0,
 3124091: [214568881],
 3464036: 0,
 3536814: 0,
 3678731: [192904102],
 3701311: [80690628],
 3740215: [214642662],
 3902055: 0,
 3937614: [54406865],
 3983267: 0,
 4043412: [9209456],
 4149345: [16339607, 212325226],
 4156256: 0,
 4303950: 0,
 4323502: 0,
 4498522: 0,
 4570538: 0,
 4888564: [143847348],
 4937640: [99030602],
 4946827: 0,
 5030008: [202570312],
 5033989: 0,
 5354812: 0,
 5651988: [83158634],
 5859784: 0,
 6043702: 0,
 6072241: [84713425],
 6123613: 0,
 6765647: [740844],
 7166715: [2076013],
 7190564: 0,
 7333722: 0,
 7388858: 0,
 7595687: 0,
 7599518: 0,
 7924947: 0,
 8051258: [213706059],
 8076673: 0,
 8121841: 0,
 8275177: 0,
 8360517: 0,
 8362239: [425354],
 8527682: 0,
 8528033: 0,
 8566282: [556867],
 8715449: [9753706],
 8926646: 0,
 8930674: 0,
 8996761: [2136861,
  13135622,
  15183979,
  137245836,
  151327544,
  162508227,
  215382704],
 9153340: [98735027, 197569856],
 9176579: 0,
 9208160: 0,
 9274692: [67728437],
 9372692: [139795934],
 9374147: [148176353],
 9382509: [171839494],
 9420081: 0,
 9465894: [210908353],
 9466594: [84811421],
 9641401: [43131979],
 9664839: 0,
 9676950: [196457896, 210920501],
 9684704: 0,
 9689507: 0,
 9717435: 0,
 9782095: 0,
 9853874: [189420615],
 9916762: 0,
 9944513: 0,
 10063876: 0,
 10074201: 0,
 10185414: 0,
 10199219: [8405753],
 10206302: [95058664],
 10228730: 0,
 10384253: 0,
 10462400: 0,
 10498480: [199416406],
 10891360: 0,
 10915894: 0,
 10923507: 0,
 11018706: 0,
 11051083: 0,
 11238223: [86853],
 11271939: 0,
 11342466: [152292010],
 11425471: 0,
 11474437: [148215831],
 11564859: 0,
 11612863: [214546342],
 11660410: 0,
 11809607: [136680607],
 11849988: [148215831],
 11896733: [156614746],
 12078788: [2779333, 214588488],
 12166345: 0,
 12399291: 0,
 12405201: 0,
 12454721: 0,
 12487709: 0,
 12537642: [48412388],
 12662873: 0,
 12664830: [78206381],
 12694316: 0,
 12695177: [89271342],
 12852945: [113013938],
 12998987: 0,
 13026492: [128838735],
 13056041: [111964403],
 13436301: [27188661, 195918606],
 13480088: [210908353],
 13735592: [215424202],
 13842071: 0,
 13844511: 0,
 13845445: [105127568],
 14134779: 0,
 14184981: [32594],
 14390894: 0,
 14548350: [109634550],
 14598427: [128702876, 189793114],
 14646941: [200925208],
 15049185: 0,
 15236712: 0,
 15290046: 0,
 15599627: 0,
 15618985: [33259671, 214243960],
 15920950: [211907762],
 15961547: 0,
 16001939: [205729485],
 16174733: 0,
 16174997: 0,
 16175315: 0,
 16194072: 0,
 16246487: [214300427],
 16391635: [93880473],
 16572352: 0,
 16613121: [192684666],
 16680589: [102125116],
 16687218: 0,
 16727847: 0,
 16732896: [214094512],
 16864285: 0,
 17011899: [115994773],
 17020208: [2134203],
 17025264: 0,
 17212658: [107170776],
 17219984: [154495684, 202707743],
 17236176: 0,
 17678304: [4163235],
 17690724: [89998839],
 17749654: 0,
 17824459: [102785297],
 17838524: 0,
 17842027: 0,
 17911218: 0,
 18173522: [48186554],
 18185692: 0,
 18190345: [89014205],
 18229789: [192400689],
 18254273: [56160428],
 18487308: 0,
 18584244: 0,
 18584284: 0,
 18741492: 0,
 18784747: 0,
 18784836: 0,
 18785091: 0,
 18796143: [42767611],
 18796328: 0,
 19051639: 0,
 19051703: [50930256],
 19051912: 0,
 19051942: 0,
 19052728: [2824209],
 19058795: 0,
 19216692: [26670670, 193338089],
 19562560: [213989374],
 19754095: 0,
 19849039: 0,
 20025878: 0,
 20029936: [214962365],
 20041367: 0,
 20180087: 0,
 20522747: [170673735],
 20577717: 0,
 20748531: 0,
 21030308: 0,
 21033357: 0,
 21512331: 0,
 21534934: [19037973],
 21596473: 0,
 21672386: 0,
 22502375: 0,
 22587672: [130021933],
 22658223: 0,
 22754767: 0,
 22800308: [99997899],
 22886785: 0,
 23255399: [79140095],
 23374993: [22287192],
 23489125: 0,
 23714713: [141232942],
 24013303: [135952, 201603587],
 24013881: [58921095, 141440977],
 24422839: [33897731],
 24654273: 0,
 24759976: 0,
 24889654: 0,
 25202246: 0,
 25346638: [211500202],
 25578031: [203238803],
 25599171: 0,
 25614013: 0,
 25924280: [9069878,
  15099524,
  77956295,
  87949884,
  99030602,
  128431789,
  175401871],
 26030484: [105127568],
 26056025: [115534976, 152778904],
 26093752: 0,
 26093821: 0,
 26093863: 0,
 26167337: [196879557],
 26213989: 0,
 26218382: [1233930],
 26299009: [86853, 47720820],
 26519437: [50930256],
 26525054: 0,
 26681577: 0,
 26974701: [155119124],
 27015534: [28986314, 40652201, 68439726, 131798236, 188025647],
 27121667: [88991923, 183926374],
 27121976: 0,
 27301695: [211122159],
 27377455: [84800616],
 27430506: 0,
 27476241: [174145893],
 27842629: 0,
 27926203: [59150675],
 27971736: 0,
 27987240: [192785138],
 27996819: [71994445],
 27998060: 0,
 28055313: 0,
 28090426: 0,
 28091290: [114498557],
 28164228: [41372621],
 28164269: [33794624],
 28225599: 0,
 28378486: 0,
 28590605: 0,
 28748863: 0,
 28773787: [144248285],
 28808878: 0,
 28812867: [199416406],
 28812922: [50167978],
 28983203: 0,
 29056338: 0,
 29194590: [136653],
 29238238: [15861876],
 29391773: 0,
 29562621: 0,
 29650418: [138388930],
 29961689: 0,
 29975426: [9958098],
 29979455: [107641182],
 30101879: [172691701],
 30336969: 0,
 30349256: [208407203],
 30572430: 0,
 30740799: 0,
 30740877: [79239008],
 30870545: 0,
 30870624: 0,
 30876744: 0,
 30988921: 0,
 31500153: [55756428],
 31614331: [105848455],
 31733346: 0,
 32333759: 0,
 32504026: [10221040],
 32729279: [205785599],
 32984622: [74781309],
 33213512: 0,
 33242381: 0,
 33284373: 0,
 33380999: [139674839, 208407203],
 33521018: 0,
 33585930: 0,
 34229630: [131569381],
 34385511: 0,
 34415688: 0,
 34420137: 0,
 34760620: [722632],
 34777712: 0,
 34910509: 0,
 34923033: [156774808],
 35494109: 0,
 35582959: 0,
 35583114: [179212364],
 35583328: 0,
 35583557: 0,
 35589275: 0,
 35590237: [2097773],
 35676241: 0,
 36045337: [99030602],
 36099247: 0,
 36362859: 0,
 36453588: [6124920,
  10235181,
  16631301,
  18786421,
  20547283,
  21673722,
  26300345,
  40529441,
  66674350,
  71351517,
  76490251,
  82532723,
  88698332,
  89112037,
  121446391,
  128717264,
  141402425,
  164798917,
  167070554,
  170285777,
  180951507,
  190374812,
  193693623],
 36597337: 0,
 36641013: [92223139],
 36967806: 0,
 37856992: 0,
 37983742: 0,
 38015541: [73342653],
 38569471: [123488047],
 38670688: 0,
 38986004: 0,
 39150258: [171486417],
 39262021: [214100604],
 39401693: 0,
 39539282: 0,
 39554718: [156856188],
 39899716: 0,
 39938958: [7857428, 15620321, 42816223, 152346702, 162829733],
 40204979: [78206381],
 40262908: [136892458],
 40262957: [214804722],
 40263031: 0,
 40263956: 0,
 40263988: 0,
 40264049: 0,
 40264094: 0,
 40429317: [211247064],
 40499276: 0,
 40959403: 0,
 41056024: [214226569],
 41107602: [161369288],
 41246368: [81592089],
 41282916: [68680945],
 41293031: 0,
 41463061: 0,
 41520733: [85232921],
 41816358: [190834725],
 42023512: [120099588, 163101092],
 42033893: [177204196],
 42181947: 0,
 42413290: 0,
 42588802: 0,
 43230896: [80007647],
 43282896: [1233930],
 43412276: [5998440,
  12380594,
  34153228,
  50672876,
  91589668,
  98305903,
  153487941,
  168958973,
  173529125,
  181508613,
  188219437,
  206710851,
  207389649,
  213250490,
  214432120],
 43416591: 0,
 43524023: [785199],
 43596797: [214226569],
 43704589: 0,
 43719124: 0,
 43726621: 0,
 43860220: 0,
 43907907: 0,
 44267597: 0,
 44534512: 0,
 44606956: [3538134, 13578131],
 44642356: [118177173],
 45084184: [116055684],
 45084333: [105127568],
 45084576: 0,
 45084618: [212689283],
 45107936: 0,
 45244639: 0,
 45348627: [13578131],
 45647685: [214640219],
 45828982: [89604903],
 45836171: 0,
 45870095: 0,
 46313668: [105127568],
 46703854: [98411104],
 46764603: 0,
 46900382: [13067009],
 47415942: [7432809, 207435467],
 47867826: 0,
 48125852: [105127568],
 48258478: [96197353],
 48685076: 0,
 48685683: [210908353],
 48834674: [7794832, 12088426, 215254853],
 48961570: [2803721],
 48970010: [207880909],
 49071150: 0,
 49084092: 0,
 49092904: 0,
 49174497: 0,
 49674796: [2371968, 9837180],
 49674942: 0,
 49795700: 0,
 49800598: 0,
 50057651: 0,
 50090018: 0,
 50203676: 0,
 50205520: 0,
 50658851: [32895846],
 50682734: [214365114],
 50713918: [172106152],
 50834422: 0,
 50922062: 0,
 50968180: 0,
 50968453: 0,
 50968509: 0,
 50968827: [6778053],
 50968872: 0,
 50969203: [32451441],
 50969547: 0,
 50970067: [179171579],
 50970150: [6210224],
 50970275: 0,
 50970474: [214628840],
 50972539: 0,
 50978451: [161564565],
 51002382: 0,
 51134277: [29857724, 212200633],
 51487211: [5307816, 214808165],
 51487338: 0,
 51487475: 0,
 51550978: [50144524],
 51554265: [188184800],
 51686788: [213197254],
 51831798: [52587452, 184927704],
 51934752: 0,
 51960315: [222800, 131375087],
 52362780: [122148880],
 52377417: [213919641],
 52440733: [8165868, 36431097],
 52444305: [78206381],
 52762675: 0,
 52928480: [105127568],
 52934282: 0,
 52993992: 0,
 53261447: 0,
 53427888: 0,
 53486257: 0,
 53613428: [199382229],
 53762796: [209854852],
 53763084: 0,
 53934250: [159628788],
 53970462: 0,
 54054704: [9837180],
 54257623: [1974334, 77163646, 107414154, 164654586],
 54415227: [48207392],
 54593630: 0,
 54593828: [214778616],
 54615708: [2973390,
  47919266,
  85650202,
  111115654,
  124597967,
  126347421,
  134786596,
  142911136,
  152051591,
  181459643,
  196968676,
  199416406],
 54621801: 0,
 55140420: 0,
 55916103: 0,
 55942169: [60941758],
 56017296: 0,
 56431667: [208574284],
 56664886: 0,
 57046422: [191587875],
 57189823: [508484],
 57327530: 0,
 57885771: [213747171],
 58241242: 0,
 58382447: 0,
 58390723: 0,
 58446009: 0,
 58527887: 0,
 58530722: [47727283],
 58541919: 0,
 58543771: [61893096],
 58569891: [208407203],
 58597745: 0,
 58670027: 0,
 58719631: [160747360],
 58722428: [12425335],
 58835561: [152352709],
 58853230: [213536598],
 58853808: [41057690, 214623481],
 59460083: 0,
 59472057: 0,
 59599139: [508484],
 59601323: 0,
 59617008: [80682958],
 59765227: [122148880],
 59846544: 0,
 59888259: 0,
 60312565: 0,
 60314708: 0,
 60325104: 0,
 60341714: [100922335],
 60477235: 0,
 60576191: 0,
 60587222: [33794624],
 60785363: 0,
 60785640: 0,
 60861743: 0,
 60861784: [9517159],
 60863287: 0,
 60863495: 0,
 60864445: 0,
 60864657: 0,
 60864760: 0,
 61350092: 0,
 61359433: [2766278],
 61475131: 0,
 61510385: 0,
 61556313: [10119,
  10322,
  10555,
  70589,
  77819,
  160582,
  163945,
  171511,
  204525,
  258797,
  297840,
  317719,
  392713,
  428630,
  440260,
  452681,
  454140,
  486587,
  556616,
  647948,
  673917,
  702122,
  716897,
  726026,
  769989,
  777146,
  802500,
  823354,
  852561,
  886514,
  956094,
  1010830,
  1100664,
  1151458,
  1220278,
  1222910,
  1259617,
  1319627,
  1340450,
  1415992,
  1534577,
  1628113,
  1635336,
  1713337,
  1820831,
  1935237,
  1993785,
  2004297,
  2015273,
  2052787,
  2105906,
  2251761,
  2273185,
  2273389,
  2390228,
  2417417,
  2461168,
  2555423,
  2636864,
  2742411,
  2773021,
  2804701,
  2811955,
  2911184,
  2980390,
  3098755,
  3153383,
  3277172,
  3344446,
  3462408,
  3486872,
  3489373,
  3599406,
  3683643,
  3958098,
  4009611,
  4019112,
  4040484,
  4231429,
  4305881,
  4431086,
  4470239,
  4513863,
  4640391,
  4801415,
  4988462,
  5112300,
  5698241,
  6016685,
  6105779,
  6113226,
  6448020,
  6581396,
  6610280,
  6837737,
  7189242,
  7260003,
  7565009,
  7593589,
  7786871,
  7935333,
  8146741,
  8373512,
  8556046,
  8920191,
  9026552,
  9062595,
  9371522,
  9467115,
  9511038,
  9541539,
  9637757,
  9648757,
  9762986,
  10071331,
  10155379,
  10217093,
  10563634,
  11223540,
  11292788,
  11477204,
  11596731,
  11734396,
  11962024,
  12193149,
  12199175,
  12210852,
  12232511,
  12250368,
  12444350,
  12480165,
  12546278,
  12813543,
  12842287,
  12873160,
  13240217,
  13442170,
  13502985,
  14218908,
  14813618,
  15772618,
  15951995,
  16043067,
  16382528,
  16496753,
  16622024,
  16684283,
  16756050,
  16778913,
  16916222,
  17028606,
  17049792,
  17378167,
  17453174,
  17946144,
  17959465,
  18081783,
  18387887,
  18931672,
  19456109,
  19970394,
  20113714,
  20695609,
  20778299,
  20799840,
  21568819,
  21920258,
  22226258,
  22615372,
  22682737,
  22705794,
  22867406,
  22946618,
  23336228,
  24762136,
  25482149,
  26030404,
  26471949,
  26597266,
  26954607,
  27273838,
  27437041,
  28111737,
  28297118,
  28620904,
  28723580,
  28988772,
  29208138,
  29537994,
  30032574,
  30392609,
  30757795,
  31115673,
  31537211,
  31648706,
  31742347,
  31823050,
  32421665,
  33213314,
  33416056,
  33519848,
  34123651,
  34153228,
  34211460,
  34599878,
  34604271,
  35251052,
  35619220,
  35714365,
  35843910,
  36074387,
  37344516,
  37765604,
  37847878,
  37921530,
  38748848,
  39049170,
  39141575,
  39153715,
  39422718,
  39603524,
  39626193,
  39926305,
  40019928,
  40028980,
  40645598,
  40721010,
  41093297,
  41297589,
  41406827,
  41678294,
  41984968,
  41997208,
  42383836,
  42687717,
  42958603,
  43731434,
  44629869,
  44737845,
  44913997,
  45139623,
  46203990,
  46514494,
  46618092,
  47557977,
  47791479,
  47796836,
  48531114,
  48870209,
  48936438,
  49316002,
  49771883,
  51047715,
  51197737,
  51286237,
  51347393,
  51497591,
  51547909,
  51850033,
  51883397,
  52538139,
  52783526,
  52910112,
  53069841,
  53361621,
  53604992,
  53692376,
  53989128,
  54582409,
  54788622,
  55078646,
  55850184,
  56190541,
  56449974,
  56515247,
  57115749,
  57131649,
  57152735,
  57162003,
  57456978,
  57533966,
  57543096,
  57726484,
  57988859,
  58143739,
  58229079,
  59000404,
  60475611,
  60685132,
  60981630,
  61082928,
  61293950,
  62064465,
  62096575,
  62841670,
  63010896,
  63490035,
  64115848,
  64568413,
  65208314,
  65271269,
  65593557,
  65917179,
  66735022,
  67639476,
  67897737,
  69379011,
  69481223,
  69795282,
  70951516,
  71392759,
  71995242,
  72815216,
  72817354,
  73050838,
  73070478,
  73097114,
  73130398,
  73174503,
  74024019,
  74032295,
  74556164,
  74999116,
  75065873,
  75203233,
  75299239,
  75414299,
  76170518,
  76960535,
  77092607,
  77336992,
  77643907,
  78311611,
  78323655,
  79487937,
  79541042,
  80282683,
  80307135,
  80482855,
  80508617,
  81861722,
  82024932,
  82090102,
  82666102,
  83022327,
  83267782,
  83310987,
  83349502,
  83447236,
  84032008,
  84606750,
  84924880,
  84960923,
  85399026,
  85686329,
  86193945,
  86227223,
  86231246,
  86884522,
  87170124,
  87423164,
  87983277,
  88393505,
  88587531,
  88763477,
  88796034,
  89011390,
  89018216,
  89030021,
  89085408,
  89122706,
  89128819,
  89229258,
  89306972,
  89524678,
  89591658,
  89752700,
  89876409,
  90685870,
  91154984,
  91366202,
  91718081,
  92300893,
  92465214,
  92537427,
  92708518,
  92920902,
  93890111,
  93911241,
  94473600,
  94486197,
  94910871,
  95114860,
  95262670,
  95388487,
  95412352,
  95416659,
  95486724,
  95540334,
  95622481,
  95846235,
  96074501,
  96182896,
  96329794,
  96471234,
  96632642,
  96638972,
  97436836,
  98004288,
  99407846,
  99782058,
  100323018,
  100381587,
  100653998,
  100713980,
  100722806,
  100981252,
  101183150,
  101395714,
  102486716,
  102561252,
  102607601,
  102618454,
  102743360,
  102854803,
  103193459,
  103506835,
  103594412,
  103607391,
  103616152,
  103711813,
  103888950,
  103931571,
  104038767,
  104069397,
  104254243,
  104413604,
  104568586,
  104663643,
  104837534,
  105444101,
  105805804,
  105859296,
  106404387,
  106554191,
  106721248,
  106989342,
  107926677,
  107995552,
  110383658,
  110519998,
  110725357,
  110962794,
  111824072,
  111875813,
  112150422,
  112349849,
  112450617,
  112579616,
  112670453,
  112813468,
  113071507,
  114014005,
  114021630,
  114049403,
  114499257,
  114576569,
  114743298,
  115895684,
  116145264,
  116358158,
  116954066,
  118225641,
  118587985,
  118716645,
  120391565,
  120702607,
  120799886,
  120912471,
  121757734,
  122596627,
  122887926,
  123477175,
  124592020,
  125831410,
  126556047,
  127532542,
  128408321,
  128672349,
  129075921,
  129077508,
  130050576,
  130786296,
  132592251,
  132774769,
  134515172,
  134972844,
  135171270,
  135210172,
  137401370,
  137506843,
  137756734,
  138318062,
  138449175,
  139316910,
  140272984,
  141006168,
  141578349,
  142769841,
  143015977,
  143402330,
  145127625,
  147054376,
  147370182,
  147560855,
  147593842,
  148470113,
  149009840,
  149707727,
  150597137,
  151376833,
  151747916,
  151868174,
  152202162,
  152576356,
  152847379,
  153201189,
  153578627,
  154280938,
  154847916,
  154910065,
  154987556,
  155453363,
  156157923,
  159245075,
  160879331,
  161041361,
  161052638,
  161494476,
  162702187,
  164794897,
  166315139,
  167061266,
  167210937,
  168895606,
  169775919,
  170766130,
  172101867,
  173992146,
  174542439,
  175048941,
  177277637,
  177381104,
  177406870,
  177462501,
  177466007,
  177683826,
  178657429,
  179174171,
  179543308,
  180406594,
  181216558,
  181702738,
  182217516,
  184123959,
  185426845,
  185627323,
  186548362,
  186887389,
  187181828,
  187283475,
  187635846,
  188255928,
  188725397,
  190145064,
  191046117,
  191356419,
  191647581,
  191911871,
  192207108,
  192240427,
  192542811,
  193809899,
  193976726,
  194756996,
  194895776,
  195405075,
  195558634,
  196984694,
  197404049,
  197659996,
  197892617,
  198002416,
  198335003,
  198455071,
  198593362,
  199379618,
  200983383,
  204281431,
  205011305,
  205991538,
  206165689,
  206741671,
  208746689,
  208922941,
  210149750,
  210544357,
  211162660,
  212497837,
  213203301,
  213908078,
  214190250,
  214567296,
  215216721,
  215246595],
 61758240: [151936975],
 61776750: [197315042],
 61811194: [14832730, 56523165],
 61978612: 0,
 62343291: 0,
 62353194: [15759495],
 62353606: 0,
 62398447: 0,
 62666720: 0,
 62704948: [157142815],
 62712397: 0,
 62713492: 0,
 62713846: 0,
 62795575: 0,
 63001696: [81928284, 198558630],
 63001745: [101866283],
 63329855: 0,
 63359105: [89777377],
 63381431: 0,
 63526352: 0,
 63636957: 0,
 63663065: 0,
 63665185: 0,
 63673912: 0,
 63684563: 0,
 63840676: 0,
 63888299: [112649507],
 64111812: 0,
 64111837: 0,
 64112798: [205785599],
 64112888: [153033994],
 64113048: 0,
 64113118: 0,
 64113230: 0,
 64191511: 0,
 64237119: 0,
 64369518: [172591713],
 64375476: [18098596],
 64375750: 0,
 64375867: 0,
 64376286: 0,
 64384696: 0,
 64388615: 0,
 64394225: 0,

Another function is defined as order_brushing_detection with shopid as an input. Firstly, we create 2 variables named users and fraud. For users it will store the dictionary that has been created previously but now with index from susp_order table as its keys, which has been filtered out from zero values, in other word, this is the value that we suspect. For fraud, it will store the userid that is categorized as conducting order brushing. We still have not worked with the event_time column before, so we create list_time variables inside our first "users" for loop to filter the time that belongs to the suspicious shopid and orderid in a form of list. Second loop is created toward list_time to convert event_time that still in string datatype to datetime type and store it in empty variable timestamp. Third loop is made to the range of length of timestamp minus 2 to find the time difference (in seconds) between each time in those variable, and store it to diff_time variable. From the task we understand that order brushing is calculated in the basis of 3600 seconds or 1 hour period. As we got the diff_time values in the form of numpy array, we create condition that tell if the sum of diff_time is less than 3600 seconds (1 hour), then store the userid in users dictionary inside fraud variable. 

The loop is over and we got the values inside the list in fraud variable. From the task, it is said that if there are 2 or more userid in one shop, then use "&" to concat them together, so we use .join() in Python to help us with this. Last conditional statement will be if fraud is empty string, then return zero as a result. But, if it has values, then return that values as a result.

In [110]:
def order_brushing_detection(shopid):
    users = dict_shop_user[shopid]
    fraud = []
    for user in users:
        list_time = sorted(list(np.array(ls_order.loc[shopid].event_time)[np.array(ls_order.loc[shopid].userid) == user]))
        timestamp = []
        for t in list_time:
            timestamp.append(datetime.strptime(t,'%Y-%m-%d %H:%M:%S'))
        diff_time = []
        for i in range(len(timestamp)-2):
            diff_time.append((timestamp[i+2] - timestamp[i]).seconds)
        diff_time = np.array(diff_time)
        if sum(diff_time < 3600):
            fraud.append(user)
    fraud = '&'.join([str(i) for i in sorted(fraud)])
    if fraud == '':
        return 0
    else:
        return fraud

The order_brushing_det then is applied into susp_order table with its index, then convert it into list.

In [111]:
fraud_buyer = list(map(order_brushing_det, susp_order.index))

Let's see the fraud_buyer list below.

In [115]:
fraud_buyer

['62775725&214988798',
 0,
 '74488711&198097381&214226569',
 '77819',
 '672345',
 0,
 0,
 '214495220&215275495',
 '740844',
 '170385453',
 0,
 '190449497',
 '22525413',
 0,
 '214992524',
 0,
 0,
 '212200633',
 '72914921',
 '264511',
 '181682008',
 '7670129',
 '75558350',
 '62618064',
 0,
 '29299481&141006168',
 '565381',
 '188942105',
 0,
 0,
 0,
 '122277324',
 0,
 '181408876',
 0,
 0,
 '3538134',
 0,
 '15053804',
 '78451300&123959597',
 '214568881',
 0,
 '80690628',
 0,
 0,
 '9209456',
 '16339607&212325226',
 '143847348',
 0,
 0,
 0,
 0,
 '740844',
 0,
 0,
 '425354',
 '556867',
 '9753706',
 '13135622&137245836&162508227&215382704',
 '197569856',
 0,
 '139795934',
 '148176353',
 0,
 0,
 '84811421',
 '43131979',
 '210920501',
 0,
 '8405753',
 '95058664',
 '199416406',
 0,
 '152292010',
 '148215831',
 '214546342',
 '136680607',
 '148215831',
 '156614746',
 '2779333&214588488',
 '48412388',
 0,
 0,
 0,
 '128838735',
 0,
 '195918606',
 0,
 '215424202',
 0,
 '32594',
 0,
 '128702876',
 '200925208',
 0,
 '211907762',
 '205729485',
 '214300427',
 '93880473',
 '192684666',
 '102125116',
 '214094512',
 '115994773',
 0,
 '107170776',
 '154495684',
 '4163235',
 0,
 '102785297',
 0,
 '89014205',
 '192400689',
 0,
 0,
 0,
 '2824209',
 '193338089',
 '213989374',
 0,
 '170673735',
 '19037973',
 0,
 '99997899',
 0,
 0,
 0,
 '135952',
 0,
 0,
 0,
 0,
 '9069878&128431789',
 0,
 0,
 0,
 '1233930',
 0,
 0,
 0,
 '28986314&188025647',
 '88991923&183926374',
 0,
 0,
 '174145893',
 0,
 '192785138',
 0,
 '114498557',
 0,
 '33794624',
 '144248285',
 '199416406',
 0,
 0,
 '15861876',
 '138388930',
 0,
 '107641182',
 0,
 0,
 '79239008',
 0,
 '105848455',
 '10221040',
 '205785599',
 0,
 0,
 0,
 0,
 '156774808',
 0,
 '2097773',
 0,
 '6124920&10235181&71351517&180951507',
 '92223139',
 '73342653',
 0,
 0,
 0,
 0,
 '42816223&162829733',
 0,
 0,
 '214804722',
 0,
 '214226569',
 0,
 '81592089',
 0,
 '85232921',
 0,
 0,
 0,
 '80007647',
 '1233930',
 '50672876&168958973&213250490&214432120',
 0,
 '214226569',
 '3538134',
 0,
 '116055684',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '207435467',
 0,
 0,
 0,
 0,
 '2803721',
 '207880909',
 '9837180',
 0,
 '214365114',
 '172106152',
 0,
 0,
 '179171579',
 0,
 '214628840',
 0,
 '29857724&212200633',
 '5307816&214808165',
 0,
 0,
 0,
 0,
 '131375087',
 0,
 '213919641',
 0,
 0,
 0,
 '199382229',
 0,
 0,
 '9837180',
 '1974334&107414154',
 '48207392',
 '214778616',
 '2973390&47919266&111115654&134786596&152051591&199416406',
 '60941758',
 0,
 0,
 0,
 0,
 0,
 '61893096',
 0,
 0,
 '12425335',
 '152352709',
 0,
 '214623481',
 '508484',
 '80682958',
 0,
 0,
 '33794624',
 0,
 '2766278',
 '726026&802500&852561&1319627&1993785&2004297&2015273&2273185&2273389&4040484&7565009&7593589&11223540&11596731&12199175&12444350&16684283&18081783&19970394&20799840&21568819&21920258&24762136&28297118&28723580&31823050&33213314&34599878&35714365&35843910&41406827&41997208&45139623&47796836&49771883&53361621&56515247&58229079&63010896&65917179&67897737&73130398&74032295&77092607&77336992&78323655&84032008&86231246&88393505&88796034&93911241&94486197&94910871&95262670&95412352&95622481&95846235&96074501&96329794&100381587&100713980&102743360&103193459&103931571&107926677&107995552&110383658&110519998&110962794&111824072&111875813&113071507&116358158&116954066&118716645&120391565&120702607&129075921&132592251&132774769&137401370&137756734&140272984&141006168&148470113&151376833&154910065&160879331&162702187&166315139&167210937&169775919&173992146&179174171&192207108&193809899&194756996&195405075&205991538&206165689&208922941&213908078&214190250&214567296',
 0,
 0,
 0,
 0,
 0,
 '81928284',
 '101866283',
 0,
 '112649507',
 '205785599',
 0,
 '172591713',
 0,
 '194833170',
 '508484&157936293',
 0,
 0,
 '29503',
 0,
 '215123671',
 0,
 '122507717',
 '194647522',
 0,
 0,
 0,
 '213502289',
 0,
 0,
 0,
 0,
 0,
 '29466045',
 '183440131',
 '43900335',
 '145715279',
 '67554410',
 '10209247',
 0,
 0,
 '215293398',
 0,
 0,
 '81928284',
 '214778616',
 0,
 '11053808',
 0,
 '69174895',
 '199382229',
 '214628840',
 0,
 0,
 '30244568',
 '204863932',
 0,
 0,
 0,
 0,
 0,
 0,
 '177472272',
 '69523106',
 0,
 0,
 '166712192&215224309',
 0,
 0,
 0,
 '96470129',
 '78903959',
 0,
 '197569856&205185383',
 0,
 0,
 0,
 '123158564',
 0,
 0,
 '77374158',
 '130021933',
 '77374158',
 0,
 0,
 0,
 '181942741',
 '1233930',
 '118860287',
 0,
 0,
 '26570682',
 0,
 '24491487&40916458&121537666',
 0,
 '21811521',
 0,
 0,
 '65814291',
 0,
 '214695792',
 0,
 '186634585',
 '119785264',
 '144612139',
 '211907762',
 0,
 '178640685',
 0,
 '87846708',
 '214094512',
 0,
 '215427525',
 0,
 0,
 '3295689',
 0,
 '81928284',
 0,
 0,
 '159508798',
 '47750501',
 0,
 '7300419',
 0,
 '133607969',
 '214680031',
 '9393781',
 0,
 '15697974&120319039&214814254',
 0,
 '214398364',
 0,
 '39834931',
 '79419297',
 '15826134',
 '120484195',
 0,
 '189834273',
 0,
 0,
 '44959060',
 0,
 0,
 0,
 '193338089',
 '89312509',
 '124597967',
 '215243653',
 0,
 '61348019&157747326',
 '105731761',
 0,
 0,
 '114221082',
 0,
 0,
 0,
 '214778616',
 0,
 0,
 '124597967',
 0,
 '150440717',
 '142710562',
 '108402614',
 0,
 '199696834',
 '197470611',
 '2434757',
 0,
 0,
 0,
 0,
 '202695638',
 0,
 '59440029',
 0,
 0,
 '214226569',
 '188187242',
 '80682958',
 '214778616',
 '81928284',
 0,
 '213714377',
 0,
 '10051694',
 '214431654',
 '148215831',
 0,
 '207428158',
 '1276208',
 '51759862',
 0,
 '118364162',
 '9753706&175901521',
 '35639374&159315857',
 0,
 0,
 0,
 0,
 '212200633',
 0,
 0,
 '212200633',
 '134786596',
 '31233680',
 0,
 '214345977',
 0,
 0,
 0,
 '157946285',
 '199703906',
 '133542654',
 '36015785',
 '178640685',
 0,
 0,
 '41332694',
 '122148880',
 '215433596',
 0,
 '46388757',
 0,
 '214705976',
 '117199298',
 0,
 0,
 '81928284',
 '200925208',
 0,
 0,
 '102785297',
 0,
 '193415051',
 '870607',
 0,
 0,
 '1237927',
 0,
 0,
 '37915675',
 0,
 '46361526',
 '80682958',
 0,
 '211604080',
 0,
 0,
 0,
 '48412388',
 '92275977',
 0,
 '17722130',
 '21402690',
 0,
 0,
 '210701971&213714377',
 '214265994',
 0,
 '78685901',
 0,
 0,
 '51759862',
 '214747060',
 0,
 0,
 '12869645',
 '131515076',
 '76441165',
 0,
 0,
 '26670670',
 '214327515',
 0,
 '49085693',
 '101296643',
 0,
 '73609455',
 0,
 0,
 0,
 0,
 '215009429',
 '215236192',
 '215408773',
 '76341513',
 '48412388',
 0,
 '179997347',
 '18688337',
 0,
 '86802680',
 '31892574',
 0,
 '141499072',
 0,
 '192251866',
 0,
 0,
 '214094512',
 0,
 0,
 0,
 0,
 0,
 0,
 '152710183',
 '159124456',
 '12756034',
 '142710562',
 '178640685',
 0,
 '110489903',
 0,
 0,
 0,
 '214778616',
 0,
 '214778616',
 '59725263',
 0,
 0,
 '168198505',
 0,
 0,
 0,
 '40929352',
 '160405537',
 '178491887&191211430',
 0,
 0,
 0,
 0,
 '117286517',
 '62080153',
 '58467478',
 0,
 0,
 '214898782',
 0,
 '179065138',
 '73207860',
 0,
 0,
 0,
 '86570212',
 0,
 '613919',
 '31713663',
 0,
 '141974809',
 0,
 '158323877',
 0,
 '33390271&67212721&95560357&99517130&108527248&167118002&186080843&190256334',
 0,
 0,
 '67554410',
 0,
 '202574985&215408773',
 '214411855',
 '111115654&179171579',
 0,
 '201343856',
 '63120351',
 0,
 0,
 0,
 '33310349&136907298',
 '22184&28796&108140&220031&221050&230780&257446&757001&852561&1105935&1225613&1302294&1313870&1328449&1333809&1605354&1997501&2282464&2284151&2812894&2857083&3142265&3168593&3303075&3322959&3524519&3617320&3667047&3679053&3679069&3682741&3766486&4634352&4769572&4990834&5081306&5214973&5333888&5598921&6419304&6978796&7255561&7379223&7616036&7872248&8032878&8248454&8409400&8643097&9042404&9234875&9249641&9297293&9535411&9613337&10562609&11290324&12033405&12282429&12282583&12920552&13082000&13487830&13949360&14262292&14887566&14975169&14998253&15165209&15386904&15454087&15741104&16016089&16790491&16847937&16950820&17155337&17378167&18018616&18138245&19020220&19260741&19443866&19970394&21055967&21136873&21580908&21676160&21959234&22390899&23615509&23857471&23904779&23961096&24464692&25082821&25931282&26336373&26584014&28031349&28434813&29815158&29999724&30279967&35999025&36557660&36622590&37434703&37753208&38947746&41264671&41505452&43074846&43480336&43652561&44763525&45163392&45685116&46430327&47408456&47559343&48184857&48207159&48467572&48793634&50499134&50924708&51302665&52097335&52253138&52255254&52415138&54342655&54994204&55064264&55372731&55446317&56856638&57186800&57250735&57323021&57344695&57349622&57543096&58009118&58595199&59089245&59282182&60616591&61660037&63944006&64738881&65306950&66285932&66587174&68242865&68395760&68849218&69450232&70721021&70777735&70951516&70957400&71026438&71632852&71858744&72624961&73174503&73927480&74603582&75352390&76151932&76431401&76737959&77645501&77675748&77860383&78274359&78767064&79481714&80060796&80104956&80347087&80590651&80660408&81287026&81741401&81857619&81888626&81926317&82471735&83653234&83705098&84226482&85875245&86030252&86051997&86875149&87566256&87600398&87640820&88350243&88587531&88732127&88910810&89250352&89787071&89835507&90015583&92945553&95262670&95433947&95436710&95619116&96033432&96334071&98679380&98715548&99528346&99869537&99921478&101092594&101549755&101783525&102305535&102626928&103256866&103545506&103684322&103811539&103837177&103946724&104066552&104509004&106295774&107331095&108208679&109720789&110684049&112716544&113401158&113418397&113830512&113939321&114407578&114753963&114868920&115133726&115392603&115590534&116997245&117276837&117629778&117848891&120413619&120693363&122528367&126023923&126067590&126532229&130930377&131883597&132585827&134137911&134718861&134742877&134790039&136014680&137593433&139762166&141357728&141730994&141883405&141911062&142916751&143121839&144610534&144724862&144764900&145622447&145745881&147478511&148736293&152507742&153408437&154369164&154598501&156383759&156390357&157594830&159561395&159689961&159992534&160879331&162271750&162432399&162715823&163220673&163628484&164098479&164575130&165179681&165586590&166081737&166251023&166669567&168198505&169765831&170984884&172089401&172678353&172717486&173237758&173768619&173871950&175408183&176255344&176331393&176334694&177376391&177644082&177830929&179227825&179543308&179885318&180137319&180731768&182005889&183178002&183492082&186010736&186403294&186441700&186526553&188240576&188303111&188396509&188466340&189029587&189183853&189853950&190195167&190222721&192449882&192542811&192610446&192712485&192747816&193185908&193268104&193754752&194907100&195350861&195995002&197252396&197551102&197849289&198218978&198469511&198614566&199110270&199129617&199746380&200498286&200826845&202519981&203029875&203151525&203538523&203742758&204101380&204149028&204173082&204253503&204456391&204797177&204819394&204834774&205046026&205266938&205435395&205583383&205951406&206022856&206207184&206585991&206710851&206764580&206794371&207239821&207388939&207453237&207802408&208046247&208313653&208423237&208497729&208607664&208806468&208822367&209034704&209903999&210128111&210308416&210362283&210406536&210773801&211174143&211193885&211429582&211786490&211942260&212200685&212284799&212303881&212480041&212970579&213162186&213411810&213443623&213474274&213519081&213526271&213578527&213703871&213787697&213889437&213906397&214013572&214653182&214974604&215013027&215039218&215043946&215386315',
 0,
 '199382229',
 0,
 '189631941',
 '70086843',
 0,
 '108214177',
 '59305291',
 0,
 '169671453',
 0,
 '36097212',
 '215169091',
 '111390406',
 '169948888',
 '214778616',
 0,
 0,
 '214778616',
 0,
 '188431260',
 '156202149&214265994',
 0,
 0,
 '214778616',
 '129084826',
 '160736815&214768235',
 0,
 '68757133&76102350&127299122&136087303&187119675&188025647&198433313&206053604',
 '204919399',
 '125177353',
 '202607600',
 '120099470',
 '69563623',
 0,
 0,
 0,
 0,
 0,
 0,
 '13949927',
 0,
 '74027394',
 '180862522',
 0,
 '212200872',
 '199382229',
 '203554877',
 '162389170',
 '119654795',
 0,
 '79918735',
 '18885346&181542467',
 0,
 '214778616',
 0,
 '78903959',
 0,
 '214617593',
 '212200633',
 0,
 0,
 0,
 '93783570',
 '10819200',
 0,
 0,
 0,
 '39153715',
 '114282846',
 0,
 '199416406',
 '176025044',
 '6059093',
 0,
 '148215831',
 '193338089',
 0,
 '50198835',
 '2137694&6048308',
 0,
 '211296094',
 '9869360&42792937&160998347',
 0,
 0,
 0,
 '215115251',
 '1866916',
 0,
 '96046105',
 '215301243',
 '12597591',
 '81928284',
 '132704747',
 0,
 0,
 0,
 '183801349',
 0,
 '187697407&215009429',
 0,
 '132397558',
 '98709440',
 '34333529',
 '23962466&24053233&60599168&71152760',
 0,
 0,
 0,
 '121537666',
 0,
 '101832161&214208720',
 '126543234',
 0,
 0,
 '199382229',
 0,
 '210932914',
 '158048102',
 '8330029',
 0,
 '144902703',
 0,
 0,
 0,
 '174783274',
 0,
 '71628406',
 '48412388',
 0,
 0,
 '2677380',
 '31215088',
 0,
 '31916119',
 '40144364',
 '211943763',
 '27456547&169084316',
 '34333529',
 '799445',
 0,
 0,
 '78099822',
 0,
 '214925963',
 '191211430',
 '179171579',
 '213646699',
 '15383956&21181740&43130127&94497233&112618609&118829872&151577085&183745983&206717775',
 '4624716',
 '121091287',
 0,
 '1762129',
 0,
 0,
 0,
 '105935455',
 0,
 '129799840',
 0,
 0,
 '121537666',
 0,
 '44694334',
 0,
 0,
 '34132265',
 '89254393',
 '92521144',
 '214605778',
 '189834273',
 '73308605',
 '114282846',
 0,
 0,
 0,
 0,
 0,
 0,
 '198662175',
 0,
 '136907298',
 '214111334',
 0,
 0,
 0,
 '52867898',
 0,
 0,
 '213646699']

For the purpose of submission, let's turn this list back into dataframe called fraud_shop. For the first column, we put shopid from the index of susp_order.

In [113]:
fraud_shop = pd.DataFrame(susp_order.index)

In [114]:
fraud_shop

        shopid
0        10159
1        10208
2        10287
3        10402
4        10536
..         ...
823  209326384
824  210197928
825  211245313
826  212089630
827  213141071

[828 rows x 1 columns]

Let's put another column inside fraud_shop table which comprise of fraud_buyer list. The column will be called userid.

In [116]:
fraud_shop['userid'] = fraud_buyer

In [117]:
fraud_shop

        shopid                        userid
0        10159            62775725&214988798
1        10208                             0
2        10287  74488711&198097381&214226569
3        10402                         77819
4        10536                        672345
..         ...                           ...
823  209326384                             0
824  210197928                      52867898
825  211245313                             0
826  212089630                             0
827  213141071                     213646699

[828 rows x 2 columns]

We then assign shopid as the index of fraud_shop table.

In [118]:
fraud_shop.index = fraud_shop.shopid

In [119]:
fraud_shop

              shopid                        userid
shopid
10159          10159            62775725&214988798
10208          10208                             0
10287          10287  74488711&198097381&214226569
10402          10402                         77819
10536          10536                        672345
...              ...                           ...
209326384  209326384                             0
210197928  210197928                      52867898
211245313  211245313                             0
212089630  212089630                             0
213141071  213141071                     213646699

[828 rows x 2 columns]

In [121]:
ls_order.suspicious_buyer.to_frame()

                suspicious_buyer
shopid
10100                          0
10151                          0
10159      [62775725, 214988798]
10208                 [11288307]
10214                          0
...                          ...
211245313             [46875705]
211892380                      0
212089630            [105664365]
213141071            [213646699]
214432425                      0

[1792 rows x 1 columns]

The index of fraud_shop is made based on the range of fraud_shop rows. It has 828 rows, so the index will be ranged from 0 until 827.

In [122]:
fraud_shop.index = range(fraud_shop.shape[0])

In [123]:
fraud_shop

        shopid                        userid
0        10159            62775725&214988798
1        10208                             0
2        10287  74488711&198097381&214226569
3        10402                         77819
4        10536                        672345
..         ...                           ...
823  209326384                             0
824  210197928                      52867898
825  211245313                             0
826  212089630                             0
827  213141071                     213646699

[828 rows x 2 columns]

Now, we go back to our original table and create new table out of it. First, shopid is grouped together, then list function is applied toward orderid column, which will be converted into dataframe. The new table will be stored in new variable called ls_order. We then add other two columns, which are userid and event_time which also be stored in a list form. Then from the columns that we have could know the number of order and the number of unique buyer. We use length function for the former and nunique function for the latter. Notice that this is exactly the same process as we did previously in first part of this notebook. Because we want to maintain the structure and number of rows of original table, but with the result in the form of userid listed as suspicious as we have gathered previously.

In [124]:
ls_order = order_brush.groupby("shopid")["orderid"].apply(list).to_frame()
ls_order["userid"] = order_brush.groupby("shopid")["userid"].apply(list)
ls_order["event_time"] = order_brush.groupby("shopid")["event_time"].apply(list)

ls_order["num_order"] = list(map(lambda x: len(x), ls_order.orderid))

# count number of unique buyers for each shop

ls_order["num_unique_buyer"] = order_brush.groupby("shopid")["userid"].nunique()

In [125]:
ls_order = ls_order.userid.to_frame()

In [126]:
ls_order.userid = 0

In [127]:
ls_order.loc[fraud_shop.shopid]

           userid
shopid
10159           0
10208           0
10287           0
10402           0
10536           0
...           ...
209326384       0
210197928       0
211245313       0
212089630       0
213141071       0

[828 rows x 1 columns]

The table fraud_shop is formed comprised of suspected shopid, with index exactly the same as shopid.

In [128]:
fraud_shop.index = fraud_shop.shopid

In [139]:
fraud_shop

              shopid                        userid
shopid
10159          10159            62775725&214988798
10208          10208                             0
10287          10287  74488711&198097381&214226569
10402          10402                         77819
10536          10536                        672345
...              ...                           ...
209326384  209326384                             0
210197928  210197928                      52867898
211245313  211245313                             0
212089630  212089630                             0
213141071  213141071                     213646699

[828 rows x 2 columns]

We arrive to the last step of this solution which is creating table for submission so that it will consist of 18770 rows with two columns, shopid and userid. For the values, we extract the fraud_shop values which is the values that we have collected and consist of several number of suspicious userid that most likely conduct order brushing. We do the loop as shown below.

In [129]:
for shop in fraud_shop.shopid:
    ls_order.loc[shop] = fraud_shop.loc[shop]

Here is how final table will look like.

In [130]:
ls_order

          userid
shopid
10009          0
10051          0
10061          0
10084          0
10100          0
...          ...
214662358      0
214949521      0
214964814      0
215175775      0
215435223      0

[18770 rows x 1 columns]

After number of looping and list manipulating, we get this table at the end. Although it will not resulted in perfect score (in this case, I get 0.98% against the groud truth table provided by Shopee), it will be sufficient for this solution. We could always improve the accuracy by adding some methodologies and other things. I hope you could learn from this challenge as much as I am. Cheers!